*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conteiner{
    display: grid;
    
    
}
.header{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    border-bottom:5px solid steelblue ;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    z-index: 10;
     
}
.headerG{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    border-bottom:5px solid steelblue ;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    z-index: 10;
     
}
.articulo{
    min-height: 400px;
}
.articulo img{
    min-height: 400px;
}

 img{
     width: 100%;
     
 }
 .logo{
     width:100%;
 }
 .menu{
     width: 100%;
 }
 .menu .opciones {
    /*display: flex;
     justify-content: space-around;*/
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr;

 }
 .opciones li{
     color: white;
     padding: 10px;

 }
 .opciones li a{
     color: rgb(14, 172, 235);
     text-decoration: none;
     
 }
 .opciones li a:hover{
    text-decoration: underline;
}
/*.banner{
    background-image: url(../assets/movie-2545676_1280.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 5px solid steelblue;
  */




.Bienvenidos{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    background-color: black;
    border-left: 3px solid steelblue;
    border-right: 3px solid steelblue;
    margin-bottom: 0%;

}
#carrusel{
    display: none;
}
.slider{
    height: 600px;
    background-color: black;
}
.list-slider{
    min-height: 100% !important;
}
.img-slider{
    height: 100%;
    width: 50%;
}


.peliculas{
    text-align: center;
    background-color: black;
    color: steelblue;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid steelblue;
    margin: 0%;
    
    
}


.primeraseccion {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
    gap: 7px;
}
.segundaseccion{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
    gap: 7px;
}
.terceraseccion{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
    gap: 7px;
}

.Tendencias{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    font-family: 'Russo One', sans-serif;
    margin: 30px;
    

}

.Tendencias img{
    width: 100%;
    justify-content: center;
    
}
.Tendencias article img{
    margin: 20px;
    border: 5px solid rgb(150, 147, 147);
    justify-content: center;
}
.boton img{
    position: relative;
}
.estreno{
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: steelblue;
    border-radius: 10px;
    top: 300%;
    right: 15%;
    
}
.footer{
    background-color: black;
    display: grid;
    padding: 10px;
    grid-template-rows: 0.5fr 0.5fr 0.2fr;
    row-gap:35px ;
    justify-content: center;


}
.tmdb img{
    height:100px;
    width: 100px;
    justify-content: center;
}
.partesuperior h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: steelblue;

}
.parteinferior{
    width: 100%;
    align-items: center;
}
.parteinferior a{
    color: steelblue;
    font-size: 35px;
    align-items: center;
    
}
#tituloGenero{
    text-align: center;
    background-color: black;
    color: steelblue;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid steelblue;
    margin: 0%;
}
#Generos {
   text-align: center;
   background-color: black;
   font-size: 30px;
  

}
.nombreFiltro{
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
.parteBuscador{
    background-color: white;
}


#Generos li {
    display: grid;
    grid-template-rows: 100px;
    text-align: center;
    color: steelblue;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}
#Generos li a:hover{
    text-decoration: underline;
}
#generoDetalle{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
    gap: 7px;
}
#detalle{
    background-color: black;
    margin-top: 0px;
    padding: 5px;
}
#detalle img{
    height: 300px;
    width: 300px;
    border: 3px solid gray;
    margin: 5px;
    margin-left: 5px;
    
}
#serieDetalle{
    background-color: black;
    margin-top: 0px;
    padding: 5px;
    
}
#serieDetalle img{
    margin: 5px;
    border: 3px solid gray;
    height: 300px;
    width: 300px;
    margin-left: 5px;
}
.cssDetalle {
    color: steelblue;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.infofoto{
    width: 100%;
    padding: 20px;
}
.infofoto img{
    border: 3px solid gray;
}

.info{
    color:steelblue;
    padding: 30px;

}
.info h2{
    font-family:'Russo One', sans-serif;
    font-size: 50px;
}
.info h3{
    font-family: 'Montserrat', sans-serif;
}
.peliculasFav{
    text-align: center;
    background-color: black;
    color: steelblue;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid steelblue;
    margin: 0px;
    
    
}
.misFavoritas{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    gap: 7px;
}

@media (min-width:768px){
    .header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
        border-bottom:5px solid steelblue ;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        position: fixed;
        

    }
    .headerG{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
        border-bottom:5px solid steelblue ;
        font-family: 'Montserrat', sans-serif;
        align-items: center;

    }
    .menu .opciones {
        display: flex;
         justify-content: space-around;
    }     
    .logo{
        width: 40%;
    }
    #carrusel{
        display: block;
    }
    .Bienvenidos{
        margin-top: 80px;
        border-bottom: 3px solid steelblue;
    }
    .slider{
        height: 350px;
        background-color: black;
    }
    .primeraseccion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: black;
        gap: 7px;
    }
    .segundaseccion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: black;
        gap: 7px;
    }
    .terceraseccion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        background-color: black;
        gap: 7px;
    }
    
    
    #detalle{
        background-color: black;
        margin-top: 80px;
        text-align: center;
    }
    #detalle img{
        height: 400px;
        width: 400px;
        border: 3px solid gray;
        margin: 10px;
    }
    #serieDetalle{
        background-color: black;
        margin-top: 80px;
        text-align: center;
    }
    #serieDetalle img{
        height: 400px;
        width: 400px;
        border: 3px solid gray;
        margin: 10px;
    }
    .cssDetalle {
       color: steelblue;
       font-size: 20px;
       font-family: 'Montserrat', sans-serif; 
    }

    #generoDetalle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: black;
        gap: 7px;
    }
    #tituloGenero{
        margin-top: 75px;

    }
    .Tendencias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        font-family: 'Russo One', sans-serif;
        margin: 30px;
    }
    .estreno{
        top: 195%;
        right: 15%;
    }
    .footer{
        background-color:black;
        color: steelblue;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: 5px solid black;
    }
    .partesuperior{
        width: 33%;
    }
    .parteinferior{
        width: 33%;
    }
    .detalle{
        background-color: black;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .peliculasFav{
        text-align: center;
        background-color: black;
        color: steelblue;
        font-family: 'Montserrat', sans-serif;
        border: 3px solid steelblue;
        margin: 0;
        padding-top: 75px;

    }
    .misFavoritas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        background-color: black;
        gap: 7px;
    }


}

@media (min-width:1024px){
    .header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
        border-bottom:5px solid steelblue ;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        position: fixed;
    }
    .headerG{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
        border-bottom:5px solid steelblue ;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
    }
    .menu .opciones {
        display: flex;
         justify-content: space-around;
         /*display: grid;
         grid-template-rows: 1fr 1fr 1fr 1fr;*/
    }     
    .logo{
        width: 40%;
    }
    #carrusel{
        display: block;
    }
    .Bienvenidos{
        margin-top: 80px;
        border-bottom: 3px solid steelblue;
    }
    .slider{
        height: 500px;
        background-color: black;
    }

    
    .primeraseccion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        background-color: black;
        gap: 7px;
    }
    .segundaseccion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        background-color: black;
        gap: 7px;
    }
    .terceraseccion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: black;
        gap: 7px;
    }
    #detalle{
        background-color: black;
        margin-top: 80px;
        text-align: center;
    }
    #detalle img{
        height: 500px;
        width: 500px;
        border: 3px solid gray;
        margin: 10px;
        
        
    }
    #serieDetalle{
        background-color: black;
        margin-top: 80px;
        text-align: center;
    }
    #serieDetalle img{
        height: 500px;
        width: 500px;
        border: 3px solid gray;
        margin: 10px;
        
        
    }
    .cssDetalle {
       color: steelblue;
       font-size: 20px;
       font-family: 'Montserrat', sans-serif; 
    }
    #generoDetalle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: black;
        gap: 7px;
    }
    #tituloGenero{
        margin-top: 75px;

    }
    .Tendencias{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        font-family: 'Russo One', sans-serif;
        margin: 30px;
    }
    .estreno{
        top: 125%;
        right: 8%;
    }
    .footer{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        
    }
    .partesuperior{
        width: 33%;
    }
    .parteinferior{
        width: 33%;
    }
    .detalle{
        background-color: black;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }
    .peliculasFav{
        text-align: center;
        background-color: black;
        color: steelblue;
        font-family: 'Montserrat', sans-serif;
        border: 3px solid steelblue;
        margin: 0;
        padding-top: 75px;

    }
    .misFavoritas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: black;
        gap: 7px;
    }


}