*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conteiner{
    display: grid;
    
}
.header{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;

    border-bottom:5px solid steelblue ;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
 img{
     width: 100%;
 }
 .logo{
     width:50%;
 }
 .menu{
     width: 100%;
 }
 .menu .opciones {
     display: flex;
     justify-content: space-around;
 }
 .opciones li{
     color: white;
     padding: 10px;

 }
 .opciones li a{
     color: rgb(14, 172, 235);
     text-decoration: none;
     
 }
 .opciones li a:hover{
    text-decoration: underline;
}
.banner{
    background-image: url(../assets/movie-2545676_1280.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 5px solid steelblue;
    
    
}
.Bienvenidos{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    background-color: black;
    padding: 15px;
}
.peliculas{
    text-align: center;
    background-color: black;
    color: steelblue;
    font-family: 'Montserrat', sans-serif;
    
}
.peliculas h2{
    padding: 10px;
}
.Tendencias{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    font-family: 'Russo One', sans-serif;
    margin: 20px;
}
.Tendencias img{
    width: 50%;
    justify-content: center;
}
.Tendencias article img{
    margin: 20px;
    border: 5px solid rgb(150, 147, 147);
}
.boton img{
    position: relative;
}
.estreno{
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: steelblue;
    border-radius: 10px;
    top: 300%;
    right: 15%;
    
}
.footer{
    background-color:wheat;
    color: steelblue;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-top: 5px solid steelblue;
}
.partesuperior{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 13px;

}
.parteinferior{
    width: 15%;
}
.parteinferior a{
    justify-content: center;
    align-items: center;
    color: steelblue;
    font-size: 20px ;
}
.Generos {
text-align: center;
background-color: black;
font-size: 30px;
}
.Generos li{
    display: grid;
    grid-template-rows: 90px;
}
.Generos li a {
    text-align: center;
    color: steelblue;
    text-decoration: none;
    border: 1px solid rgb(150, 147, 147);
    padding: 22px;
    font-family: 'Russo One', sans-serif;

}
.Generos li a:hover{
    text-decoration: underline;
}
.detalle{
    background-color: black;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}
.infofoto{
    width: 100%;
    padding: 20px;
}
.infofoto img{
    border: 3px solid gray;
}

.info{
    color:steelblue;
    padding: 30px;

}
.info h2{
    font-family:'Russo One', sans-serif;
    font-size: 50px;
}
.info h3{
    font-family: 'Montserrat', sans-serif;
}

@media (min-width:768px){
    .header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
    
        border-bottom:5px solid steelblue ;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
    }
    .logo{
        width: 40%;
    }
    .Tendencias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        font-family: 'Russo One', sans-serif;
        margin: 30px;
    }
    .estreno{
        top: 195%;
        right: 15%;
    }
    .footer{
        background-color:wheat;
        color: steelblue;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: 5px solid steelblue;
    }
    .detalle{
        background-color: black;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }


}

@media (min-width:1024px){
    .header{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
    
        border-bottom:5px solid steelblue ;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
    }
    .logo{
        width: 40%;
    }
    .Tendencias{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        font-family: 'Russo One', sans-serif;
        margin: 30px;
    }
    .estreno{
        top: 125%;
        right: 8%;
    }
    .footer{
        padding: 20px;
    }
    .detalle{
        background-color: black;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }


}