*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conteiner{
    display: grid;
    
}
.header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom:5px solid steelblue ;
    font-family: 'Montserrat', sans-serif;
    align-items: center;

   
}
 img{
     width: 100%;
 }
 .logo{
     width: 30%;
     
 }
 .menu{
     width: 70%;
 }
 .menu .opciones {
     display: flex;
     justify-content: space-around;
     
     
     

 }
 .opciones li{
     color: white;
     padding: 15px;

 }
 .opciones li a{
     color: rgb(14, 172, 235);
     text-decoration: none;
     
 }
 .opciones li a:hover{
    text-decoration: underline;
}
.banner{
    background-image: url(../assets/movie-2545676_1280.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 5px solid steelblue;
    
    
}
.Bienvenidos{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    background-color: black;
    padding: 15px;
}
.peliculas{
    text-align: center;
    background-color: black;
    color: steelblue;
    font-family: 'Montserrat', sans-serif;
    
}
.peliculas h2{
    padding: 10px;
}
.Tendencias{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    font-family: 'Russo One', sans-serif;
    margin: 20px;
}
.Tendencias img{
    width: 50%;
    justify-content: center;
}
.Tendencias article img{
    margin: 20px;
    border: 5px solid rgb(150, 147, 147) ;
}
.footer{
    background-color:wheat;
    color: steelblue;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-top: 5px solid steelblue;
}
.partesuperior{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 13px;
}
.parteinferior{
    width: 15%;
}
.parteinferior a{
    justify-content: center;
    align-items: center;
    color: steelblue;
    font-size: 20px ;
}
.Generos {
text-align: center;
background-color: black;
font-size: 30px;
}
.Generos li{
    display: grid;
    grid-template-rows: 90px;
}
.Generos li a {
    text-align: center;
    color: steelblue;
    text-decoration: none;
    border: 1px solid rgb(150, 147, 147);
    padding: 22px;
}
.Generos li a:hover{
    text-decoration: underline;
}


    

